@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {

}

body {
    background-color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: x-large;
    left: 10%;
    top: 15%;
}